In [1]:
import numpy as np
import pandas as pd 
from IPython.display import display
import os 
import seaborn as sns 
import matplotlib.pyplot as plt

In [2]:
df = pd.read_excel('fantasybball.xlsx', "Week 5", engine='openpyxl')

df.rename(columns={'Unnamed: 0': 'Team'}, inplace=True)
df['FG%'] = (df['FG%'] * 100).round(2)
df['FT%'] = (df['FT%'] * 100).round(2)
df['TO'] = (df['TO'] * -1)


selected_categories = df.iloc[:, :9]
custom_cmap = sns.color_palette("RdYlGn", as_cmap=True)
styled_df = selected_categories.style.background_gradient(cmap=custom_cmap)


display(styled_df)

In [3]:
stat_categories = df.columns[1:]
rank_df = df.copy()
rank_df[stat_categories] = rank_df[stat_categories].rank(ascending=False, method='min').astype(int)

sort_category = "FG%"

rank_df = rank_df.sort_values(by = sort_category)
display(rank_df)

    Team  FG%  FT%  3PM  REB  AST  STL  BLK  TO  PTS  Mins  Games
10  KOCE    1   12    8    3   10    9    2  10    6     7      1
5   GOAt    2   11    4    9    9    2   10   8    3     9      1
9    uwu    3    5    7    5    3    1    8  11    4     4      1
4   MTDT    4    1    1   12    4    3    8   4    2    10     12
7    GRU    5   10    8    2   12    6    2   2   11    12      9
2    POG    6    4    6    4    6   11    1  12    5     2      1
8     VR    7    8    2    8    5   10    7   7    1     1      1
1    RAO    8    6   11    6   11    3    5   3    8     6      9
3   RIZZ    9    7   10    6    1    8    6   1    7     3      1
11   BBB   10    9   12    1    6    6    2   6   12    11      9
0   OVJG   11    2    3   11    8   11   12   8   10     4      1
6   ZHAN   12    3    5   10    2    5   11   5    9     8      1

In [4]:
average_df = df.copy()
for category in stat_categories:
    # Calculate the average by dividing the value by the number of games
    average_df[category] = (average_df[category] / average_df['Games']).round(2)

# Drop the 'Games' column as it's no longer needed
average_df.drop(columns=['Games'], inplace=True)

# Display the DataFrame with average values
average_df

    Team   FG%   FT%   3PM   REB   AST   STL   BLK    TO    PTS   Mins
0   OVJG  1.33  2.60  2.12  4.55  4.03  0.79  0.33 -2.00  15.88  31.36
1    RAO  1.47  2.56  1.19  6.19  3.03  1.06  0.88 -1.62  17.16  31.91
2    POG  1.48  2.55  1.58  6.21  4.06  0.79  1.00 -2.48  18.21  31.79
3   RIZZ  1.38  2.46  1.39  6.00  4.67  0.91  0.79 -1.30  17.33  31.55
4   MTDT  1.63  2.82  2.90  4.55  4.81  1.10  0.65 -1.71  21.10  31.00
5   GOAt  1.56  2.34  1.67  5.45  3.70  1.15  0.55 -2.00  18.48  30.00
6   ZHAN  1.26  2.57  1.64  5.36  4.64  0.97  0.39 -1.67  16.06  30.48
7    GRU  1.56  2.44  1.50  6.94  2.47  0.97  0.91 -1.44  15.69  29.59
8     VR  1.47  2.41  2.18  5.64  4.21  0.82  0.64 -1.97  20.30  32.21
9    uwu  1.56  2.54  1.55  6.09  4.55  1.18  0.61 -2.27  18.33  31.36
10  KOCE  1.56  2.19  1.45  6.52  3.61  0.85  0.88 -2.03  17.48  30.70
11   BBB  1.40  2.44  1.03  6.97  4.19  0.97  0.91 -1.97  15.12  29.78

In [5]:
teams = df['Team']
num_teams = len(teams)
score_data = []
row_total = []
for i in range(num_teams):
    team_a = teams[i]
    row = []
    wins = 0
    losses = 0
    draws = 0
    for j in range(num_teams):
        team_b = teams[j]
        if team_a == team_b:
            row.append(0)
        else:
            team_a_wins = sum(df.iloc[i, 1:10] > df.iloc[j, 1:10])
            team_b_wins = sum(df.iloc[i, 1:10] < df.iloc[j, 1:10])
            team_draw = sum(df.iloc[i, 1:10] == df.iloc[j, 1:10])
            score = f"{team_a_wins} - {team_b_wins} - {team_draw}"
            if team_a_wins > team_b_wins:
                row.append(f'<span style="color:green">{score}</span>')
                wins += 1
            elif team_b_wins > team_a_wins: 
                row.append(f'<span style="color:red">{score}</span>' )
                losses += 1
            else:
                row.append(score)
                draws +=1
                
    score_data.append(row)
    row_total.append(f"{wins} - {losses} - {draws}")

score_df = pd.DataFrame(score_data, columns=teams, index=teams)
score_df['Win Total'] = row_total


score_df.style

Average per game

In [6]:
teams = df['Team']
num_teams = len(teams)
score_data = []
row_total = []
for i in range(num_teams):
    team_a = teams[i]
    row = []
    wins = 0
    losses = 0
    draws = 0
    for j in range(num_teams):
        team_b = teams[j]
        if team_a == team_b:
            row.append(0)
        else:
            team_a_wins = sum(average_df.iloc[i, 1:10] > average_df.iloc[j, 1:10])
            team_b_wins = sum(average_df.iloc[i, 1:10] < average_df.iloc[j, 1:10])
            team_draw = sum(average_df.iloc[i, 1:10] == average_df.iloc[j, 1:10])
            score = f"{team_a_wins} - {team_b_wins} - {team_draw}"
            if team_a_wins > team_b_wins:
                row.append(f'<span style="color:green">{score}</span>')
                wins += 1
            elif team_b_wins > team_a_wins: 
                row.append(f'<span style="color:red">{score}</span>' )
                losses += 1
            else:
                row.append(score)
                draws +=1
                
    score_data.append(row)
    row_total.append(f"{wins} - {losses} - {draws}")

score_average_df = pd.DataFrame(score_data, columns=teams, index=teams)
score_average_df['Win Total'] = row_total


score_average_df.style