In [1]:
import numpy as np
import pandas as pd 
from IPython.display import display
import os 
import seaborn as sns 
import matplotlib.pyplot as plt

In [2]:
df = pd.read_excel('fantasybball.xlsx', "Week 6", engine='openpyxl')

df.rename(columns={'Unnamed: 0': 'Team'}, inplace=True)
df['FG%'] = (df['FG%'] * 100).round(2)
df['FT%'] = (df['FT%'] * 100).round(2)
df['TO'] = (df['TO'] * -1)


selected_categories = df.iloc[:, :9]
custom_cmap = sns.color_palette("RdYlGn", as_cmap=True)
styled_df = selected_categories.style.background_gradient(cmap=custom_cmap)


display(styled_df)

In [3]:
stat_categories = df.columns[1:]
rank_df = df.copy()
rank_df[stat_categories] = rank_df[stat_categories].rank(ascending=False, method='min').astype(int)

sort_category = "FG%"

rank_df = rank_df.sort_values(by = sort_category)
display(rank_df)

    Team  FG%  FT%  3PM  REB  AST  STL  BLK  TO  PTS  Mins  Games
4   GOAt    1    6   12    9   10    4    8   7   11    10     11
5    BBB    2   12    9    1    5    6    2   9    4     2      1
3    uwu    3   11    7    3    1    2    4  12    6     6      2
2   RIZZ    4    2   10   10    7    4    6   3    3     9      9
7   KOCE    5   10    6    2    6    9    3   7    8     1      2
8    POG    6    4    5    6    2    8    7   5    7     7      2
0    RAO    7    7    8    8   11   11    1   2   10    12     12
6   MTDT    8    8    1   11    3   10   10   4    5     8      8
11  ZHAN    9    3    4    4    9    3    9  11    1     5      2
1    GRU   10    5   11    7   12   12    5   1   12    11      9
9     VR   11    9    3    5    4    1   11   6    2     4      2
10  OVJG   12    1    1   12    8    7   11   9    9     2      2

In [4]:
average_df = df.copy()
for category in stat_categories:
    # Calculate the average by dividing the value by the number of games
    average_df[category] = (average_df[category] / average_df['Games']).round(2)

# Drop the 'Games' column as it's no longer needed
average_df.drop(columns=['Games'], inplace=True)

# Display the DataFrame with average values
average_df

    Team   FG%   FT%   3PM   REB   AST   STL   BLK    TO    PTS   Mins
0    RAO  1.72  2.90  1.61  6.39  2.93  0.93  1.32 -1.54  18.29  29.25
1    GRU  1.56  2.83  1.10  6.10  2.07  0.73  0.83 -1.13  12.57  28.43
2   RIZZ  1.65  2.88  1.43  5.47  4.57  1.10  0.80 -1.87  19.57  32.00
3    uwu  1.51  2.37  1.39  6.73  4.85  1.06  0.85 -2.45  17.30  31.21
4   GOAt  1.79  2.86  1.07  5.72  3.90  1.14  0.76 -2.14  16.69  30.66
5    BBB  1.41  2.04  1.22  6.64  4.06  0.86  0.97 -1.75  16.06  29.39
6   MTDT  1.50  2.52  2.34  4.69  4.84  0.84  0.41 -1.78  17.88  31.56
7   KOCE  1.47  2.41  1.52  6.76  4.30  0.85  0.91 -1.88  16.76  33.39
8    POG  1.46  2.58  1.76  5.58  4.76  0.88  0.70 -1.76  16.97  31.12
9     VR  1.40  2.44  1.88  6.18  4.55  1.09  0.36 -1.85  19.67  31.58
10  OVJG  1.32  2.68  2.27  4.52  4.09  0.91  0.36 -1.91  15.73  32.06
11  ZHAN  1.45  2.61  1.82  6.24  3.61  1.03  0.55 -1.97  20.52  31.45

In [5]:
teams = df['Team']
num_teams = len(teams)
score_data = []
row_total = []
for i in range(num_teams):
    team_a = teams[i]
    row = []
    wins = 0
    losses = 0
    draws = 0
    for j in range(num_teams):
        team_b = teams[j]
        if team_a == team_b:
            row.append(0)
        else:
            team_a_wins = sum(df.iloc[i, 1:10] > df.iloc[j, 1:10])
            team_b_wins = sum(df.iloc[i, 1:10] < df.iloc[j, 1:10])
            team_draw = sum(df.iloc[i, 1:10] == df.iloc[j, 1:10])
            score = f"{team_a_wins} - {team_b_wins} - {team_draw}"
            if team_a_wins > team_b_wins:
                row.append(f'<span style="color:green">{score}</span>')
                wins += 1
            elif team_b_wins > team_a_wins: 
                row.append(f'<span style="color:red">{score}</span>' )
                losses += 1
            else:
                row.append(score)
                draws +=1
                
    score_data.append(row)
    row_total.append(f"{wins} - {losses} - {draws}")

score_df = pd.DataFrame(score_data, columns=teams, index=teams)
score_df['Win Total'] = row_total


score_df.style

Average per game

In [6]:
teams = df['Team']
num_teams = len(teams)
score_data = []
row_total = []
for i in range(num_teams):
    team_a = teams[i]
    row = []
    wins = 0
    losses = 0
    draws = 0
    for j in range(num_teams):
        team_b = teams[j]
        if team_a == team_b:
            row.append(0)
        else:
            team_a_wins = sum(average_df.iloc[i, 1:10] > average_df.iloc[j, 1:10])
            team_b_wins = sum(average_df.iloc[i, 1:10] < average_df.iloc[j, 1:10])
            team_draw = sum(average_df.iloc[i, 1:10] == average_df.iloc[j, 1:10])
            score = f"{team_a_wins} - {team_b_wins} - {team_draw}"
            if team_a_wins > team_b_wins:
                row.append(f'<span style="color:green">{score}</span>')
                wins += 1
            elif team_b_wins > team_a_wins: 
                row.append(f'<span style="color:red">{score}</span>' )
                losses += 1
            else:
                row.append(score)
                draws +=1
                
    score_data.append(row)
    row_total.append(f"{wins} - {losses} - {draws}")

score_average_df = pd.DataFrame(score_data, columns=teams, index=teams)
score_average_df['Win Total'] = row_total


score_average_df.style