In [1]:
import numpy as np
import pandas as pd 
from IPython.display import display
import os 
import seaborn as sns 
import matplotlib.pyplot as plt

In [2]:
file_path = ('fantasybball.xlsx', "Week 5)
df = pd.read_excel(file_path, engine='openpyxl')

df.rename(columns={'Unnamed: 0': 'Team'}, inplace=True)
df['FG%'] = (df['FG%'] * 100).round(2)
df['FT%'] = (df['FT%'] * 100).round(2)
df['TO'] = (df['TO'] * -1)


selected_categories = df.iloc[:, :9]
custom_cmap = sns.color_palette("RdYlGn", as_cmap=True)
styled_df = selected_categories.style.background_gradient(cmap=custom_cmap)


display(styled_df)

In [3]:
stat_categories = df.columns[1:]
rank_df = df.copy()
rank_df[stat_categories] = rank_df[stat_categories].rank(ascending=False, method='min').astype(int)

sort_category = "FG%"

rank_df = rank_df.sort_values(by = sort_category)
display(rank_df)

    Team  FG%  FT%  3PM  REB  AST  STL  BLK  TO  PTS  Mins  Games
3   GOAt    1   12   11    9   10   11    8   7   10    12     12
6    uwu    2    3    3    4    7   12    2  12    1     3      7
9    BBB    3   11    8    1    4    2    4   9    7     5      1
11  KOCE    4   10    7    3    6    4    7   6    6     6      7
1    RAO    5    1   10    7   12    6    1   1   12    11     10
0   RIZZ    6    7    9    9    9    9    3   2    5     8      1
7    GRU    7    6    5    2   11   10    6   3    8     7      5
4    POG    8    9    3    6    2    8    4  10    3     4      5
2   OVJG    9    2    1   11    8    1    9   5    4     2      1
8   ZHAN   10    5   12    8    5    5   12   7    9    10     11
5   MTDT   11    4    5   12    3    3   11   4   11     9      7
10    VR   12    8    2    5    1    7    9  11    2     1      1

In [4]:
average_df = df.copy()
for category in stat_categories:
    # Calculate the average by dividing the value by the number of games
    average_df[category] = (average_df[category] / average_df['Games']).round(2)

# Drop the 'Games' column as it's no longer needed
average_df.drop(columns=['Games'], inplace=True)

# Display the DataFrame with average values
average_df

    Team   FG%   FT%   3PM   REB   AST   STL   BLK    TO    PTS   Mins
0   RIZZ  1.43  2.34  1.12  4.94  2.76  0.82  0.88 -1.67  16.39  27.76
1    RAO  1.57  2.91  1.17  5.93  2.37  1.00  1.10 -1.37  13.70  28.03
2   OVJG  1.40  2.63  2.18  4.82  2.94  1.18  0.45 -1.85  16.67  31.06
3   GOAt  1.90  2.41  1.21  5.82  3.18  0.89  0.71 -2.32  15.79  29.89
4    POG  1.45  2.30  1.88  5.78  4.41  0.88  0.88 -2.47  17.66  31.28
5   MTDT  1.35  2.64  1.74  4.32  4.45  1.19  0.32 -1.87  13.39  29.23
6    uwu  1.63  2.70  1.94  6.74  3.35  0.77  1.00 -2.65  20.00  32.94
7    GRU  1.47  2.43  1.69  6.62  2.72  0.81  0.78 -1.75  14.88  28.66
8   ZHAN  1.51  2.78  0.90  5.72  4.21  1.14  0.28 -2.24  15.66  29.90
9    BBB  1.51  2.15  1.30  7.12  4.00  1.15  0.85 -2.00  14.94  28.91
10    VR  1.20  2.31  2.09  6.00  4.85  0.88  0.45 -2.45  17.15  32.88
11  KOCE  1.53  2.35  1.42  6.81  3.90  1.10  0.68 -2.06  16.23  29.68

In [9]:
teams = df['Team']
num_teams = len(teams)
score_data = []
row_total = []
for i in range(num_teams):
    team_a = teams[i]
    row = []
    wins = 0
    losses = 0
    draws = 0
    for j in range(num_teams):
        team_b = teams[j]
        if team_a == team_b:
            row.append(0)
        else:
            team_a_wins = sum(df.iloc[i, 1:10] > df.iloc[j, 1:10])
            team_b_wins = sum(df.iloc[i, 1:10] < df.iloc[j, 1:10])
            team_draw = sum(df.iloc[i, 1:10] == df.iloc[j, 1:10])
            score = f"{team_a_wins} - {team_b_wins} - {team_draw}"
            if team_a_wins > team_b_wins:
                row.append(f'<span style="color:green">{score}</span>')
                wins += 1
            elif team_b_wins > team_a_wins: 
                row.append(f'<span style="color:red">{score}</span>' )
                losses += 1
            else:
                row.append(score)
                draws +=1
                
    score_data.append(row)
    row_total.append(f"{wins} - {losses} - {draws}")

score_df = pd.DataFrame(score_data, columns=teams, index=teams)
score_df['Win Total'] = row_total


score_df.style

Average per game

In [8]:
teams = df['Team']
num_teams = len(teams)
score_data = []
row_total = []
for i in range(num_teams):
    team_a = teams[i]
    row = []
    wins = 0
    losses = 0
    draws = 0
    for j in range(num_teams):
        team_b = teams[j]
        if team_a == team_b:
            row.append(0)
        else:
            team_a_wins = sum(average_df.iloc[i, 1:10] > average_df.iloc[j, 1:10])
            team_b_wins = sum(average_df.iloc[i, 1:10] < average_df.iloc[j, 1:10])
            team_draw = sum(average_df.iloc[i, 1:10] == average_df.iloc[j, 1:10])
            score = f"{team_a_wins} - {team_b_wins} - {team_draw}"
            if team_a_wins > team_b_wins:
                row.append(f'<span style="color:green">{score}</span>')
                wins += 1
            elif team_b_wins > team_a_wins: 
                row.append(f'<span style="color:red">{score}</span>' )
                losses += 1
            else:
                row.append(score)
                draws +=1
                
    score_data.append(row)
    row_total.append(f"{wins} - {losses} - {draws}")

score_average_df = pd.DataFrame(score_data, columns=teams, index=teams)
score_average_df['Win Total'] = row_total


score_average_df.style